doctype
| <html <?php language_attributes(); ?>>

head
  meta(charset!='<?php bloginfo("charset") ?>')
  meta(name='viewport' content='width=device-width')
  link(rel='profile' href='http://gmpg.org/xfn/11')
  link(rel='stylesheet' href!="<?= get_bloginfo('stylesheet_directory'); ?>/style.css?v=#{version}" type='text/css')
  link(rel="pingback" href!="<?php bloginfo( 'pingback_url' ); ?>")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
  - wp_head()

| <body <?php body_class(); ?>>
