- get_header()

include ../blocks/main/main
include ../blocks/title/title
include ../blocks/lang/lang
include ../blocks/header/header
include ../blocks/promo/promo
include ../blocks/advantages/advantages
include ../blocks/about/about
include ../blocks/portfolio/portfolio
include ../blocks/clients/clients
include ../blocks/footer/footer

+container()
	+lang()
	+header()

	+promo() 
	+advantages()
	+about()
	+portfolio()
+clients()
+container()
	+footer()

- get_footer()