mixin portfolio-item(pic, title, city)
	.portfolio-item
		block
		.portfolio-item__pic
			img(src=pic, alt="")
		p.portfolio-item__title #{title}
		p.portfolio-item__city #{city}

mixin portfolio()
	.portfolio&attributes(attributes)
		block
		+block-title('Реализованные проекты')
		.portfolio-list
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
			.col-xs-4
				+portfolio-item('http://placehold.it/365x365','lalala', 'city')
		.col-xs-12.text-center
			a(href="") Посмотреть все объекты
