mixin advantages-item()
	.advantages-item.col-xs-2
		block
		.advantages-item__pic
				img(src="http://placehold.it/100x100", alt="")

mixin advantages()
	.advantages&attributes(attributes)
		block
		.advantages-list
			+advantages-item()
			+advantages-item()
			+advantages-item()
			+advantages-item()
			+advantages-item()
			+advantages-item()