mixin header-menu__item(title)
	li.header-menu__item #{title} &nbsp;

mixin header-menu__phone(number,numbernumber,title,href)
	.header-menu__phone.col-xs-2.text-right
		block
		a(href="tel:+7812#{numbernumber}") +7 (812) #{number}
		br
		a(href=href) #{title}


mixin header-menu()
	.header-menu.col-xs-6.col-xs-offset-1
		ul.header-menu__list
			block
			+header-menu__item(' Продукция ')
			+header-menu__item(' Объекты ')
			+header-menu__item(' Сертификаты ')
			+header-menu__item(' Компания ')
			+header-menu__item(' Контакты ')

mixin header()
	.header
		block
		.header-logo.col-xs-3
				+logo('негорючая строительная ткань')
		+header-menu()
		+header-menu__phone('448-59-68', '4485968', 'заказать звонок')
