mixin clients-item()
	.clients-item
		block
		.clients-item__pic.col-xs-3
			img(src="http://placehold.it/265x150", alt="")

mixin clients()
	.clients&attributes(attributes)
		.container
			.row
				block
				+block-title('Наши клиенты')
				+clients-item()
				+clients-item()
				+clients-item()
				+clients-item()

				+clients-item()
				+clients-item()
				+clients-item()
				+clients-item()