mixin footer-menu__item(title)
	li.footer-menu__item #{title} &nbsp;

mixin footer()
	.footer.col-xs-12
		.row
			block
			.footer-logo.col-xs-3
				+logo('негорючая строительная ткань')
			ul.footer-menu__list.col-xs-2
				+footer-menu__item(' Продукция ')
				+footer-menu__item(' Объекты ')
				+footer-menu__item(' Сертификаты ')
				+footer-menu__item(' Компания ')
				+footer-menu__item(' Контакты ')
			.col-xs-4
				p lalala
			.col-xs-3
				p contacts

			.footer-copyrights.col-xs-12
				p 2016 ООО «Парагон»
				p Все права защищены.
				p TEND® является зарегистрированной торговой маркой компании ООО "Парагон"