mixin promo-item(title,descr)
	.promo-item
				h1.promo-title #{title}
				h3.promo-description #{descr}

mixin promo()
	.promo
		block
		.promo-list.js-promo
			+promo-item('Безопасность','превыше всего 1')
			+promo-item('Безопасность','превыше всего 2')
			+promo-item('Безопасность','превыше всего 3')

