mixin about-item__pic()
	block
	.about-item__pic.col-xs-6
			img(src="http://placehold.it/560x560", alt="")

mixin about-item__text-mark(text)
		p.text.about-item__text-mark #{text}

mixin about-item__text(title, text)
	block
	.about-item__text
		h3.about-item__text-title #{title}
		p.text #{text}

mixin about-item()
	.about-item.col-xs-12
		block
		.row

mixin about()
	.about
		.row
			block
			+block-title('О продукции')
			+about-item()
				+about-item__pic()
				.col-xs-offset-1.col-xs-5
					+about-item__text('Для чего', 'Негорючая строительная ткань TEND обеспечивает долговечность теплоизоляции без потерь тепла и разрушения.')
					+about-item__text-mark('Наша продукция защищает теплоизоляцию от увлажнения и механичеких повреждений.')
					+about-item__text-mark('Позволяет повысить на 30% теплозащитные свойства стен.')
					p.about-descr Ткань производится ООО "Парагон" с 2008 года. Компания является одним из ведущих производителей негорючих строительных тканей в России.

					a(href="") Подробнее о продукции

			+about-item()
				.col-xs-6
					+about-item__text('Подстраховка от рисков')
					+about-item__text-mark('Горючие строительные ткани часто становятся причиной пожара. Негорючая ткань TEND предостерегает здаение от возгорания при строительстве и экспулатации. ')
					+about-item__text-mark('Недостаточно прочная строительная ткань может порваться от ветра или резких смен температур. Это приводит к повреждению утеплителя и большим потерям тепла. Ткань TEND отличается повышенной прочностью материала.')

					a(href="") Подробнее

				+about-item__pic()

			+about-item()
				+about-item__pic()
				.col-xs-offset-1.col-xs-5
					+about-item__text('Есть все необходимые сертификаты', 'Наша продукция имеет все необходимые сертификаты и заключения, подтверждающие высокое качесвто и пожарную безопасность ткани.')
					
					a(href="") Посмотреть сертификаты